@import url("https://fonts.googleapis.com/css?family=Gafata");
/* Colors */
/* Mixins */
/* Styles */
html, body {
  background: white;
  text-align: center;
  margin: 20px 0;
}

h1 {
  font-family: 'Gafata', 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 2.1875rem;
  font-weight: 100;
  color: #1190e8;
  text-shadow: 0 1px 1px white;
}

.bubbles span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin: 150px auto;
  background: #f05510;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  animation: bubbly .9s infinite alternate;
}

/* Bubbles */
#bubble2 {
  animation-delay: .27s;
}

#bubble3 {
  animation-delay: .54s;
}

@-webkit-keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}
@-moz-keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}
