.profileImg-r
{
  height:320px; 
}
.profileImg-r-black-img
{
  height:230px; 
}
.profileImg-r-blank {
    height: 262px;
    padding: 15px;
}
.blank-section
{
	padding:25px 65px;
    background-color: rgb(245, 244, 244);
}
.capcture{
  border-width: 0.597px;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-radius: 2px;
  background-color: rgb(255, 255, 255); 
  display:block;
  width: 30px;
  height: 30px; 
  position: absolute;
  margin-top: -18px;
  margin-left: 55px;
  padding: 3px 8px;
}
.capcture-b{
  border-width: 0.597px;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-radius: 2px;
  background-color: rgb(255, 255, 255); 
  display:block;
  width: 30px;
  height: 30px;  
  padding: 3px 8px;
}
.change_photo{
  font-size:16px; 
  color: rgb(77, 77, 77); 
  text-align: left;
  margin-top: 18px;
  margin-left: 20px;  
}

.pro-left-padding-right{padding-right:0 !important;}
.pro-right-padding-left{padding-left:0 !important;}
.top-header-author {
    position: absolute;
    left: 20% !important;
    text-align: left !important;
    color: white;
    top: 25%;
}
.profilr-text-large
{
	font-size:20px;
}
.profilr-text-small
{
	font-size:16px;
}
.profilr-text-v-small
{
	font-size:13px;
}
.m-left-15{margin-left:15px;}
.m-left-20{margin-left:20px;}
.m-left-25{margin-left:25px;}
.m-left-30{margin-left:30px;}
.social-icon-section {
    display: inline-flex;
	margin-top:9px;
}
.social-icon { 
	padding:1px 0px !important;
	height:24px !important;
	width:24px !important;
}
.card-head-pro
{ 
    padding:0px 0px !important; 
    font-size: 19px !important;
	color:rgb(17, 144, 232) !important;
} 

.card-head-customize{ 
    padding: 11px 12px !important; 
}
.card-body-padding-pro{padding:10px 12px !important;}
.Ellipse_2_copy_24 {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  box-shadow: 0px 2px 16px 0px rgba(159, 193, 255, 0.004);
  position: absolute;
  left: 808px;
  top: 784px;
  width: 30px;
  height: 30px;
  z-index: 77;
}

.tool-edit
{
	font-size: 0.875rem;
    font-weight: 700;
     background-image: -moz-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   background-image: -webkit-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   background-image: -ms-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   box-shadow: 0px 2px 16px 0px rgba(73, 86, 239, 0.25);
    color: #fff;
    height: 24px;
    line-height: 1;
    min-width: 24px;
    border-radius: 84%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
	margin:0px 2px;
	position: absolute;
    right: 12px;
    top: 0px;
	cursor:pointer;
	border: 0;
	visibility:hidden;
} 
.tool-edit-main
{
	font-size: 0.875rem;
    font-weight: 700;
     background-image: -moz-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   background-image: -webkit-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   background-image: -ms-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   box-shadow: 0px 2px 16px 0px rgba(73, 86, 239, 0.25);
    color: #fff;
    height: 24px;
    line-height: 1;
    min-width: 24px;
    border-radius: 84%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
	margin:0px 2px;
	 float:right;
	cursor:pointer;
	border: 0;
} 
.tool-plus {
	font-size: 0.875rem;
    font-weight: 700;
   background-color: rgb(240, 85, 16);
   box-shadow: 0px 2px 16px 0px #f97575;
    color: #fff;
    height: 24px;
    line-height: 1;
    min-width: 24px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
	margin:0px 2px;
	float:right;
	cursor:pointer;
	border: 0;
} 
.onhover:hover button.tool-edit, .onhover:focus button.tool-edit, .onhover:active button.tool-edit {
  visibility:visible;
}
 
.tool-plus-m-r{margin-right: -4px;}
.icon {color:white;font-size:12px !important;}
.icon-r {color:#f05510;font-size:12px !important;}
.card-body-batches
{
	padding: 10px 12px 0px 12px !important;
}
.card-body-batches-b
{
	padding: 0px 12px 10px 12px !important;
}
.pro-heading{
  font-size: 12px; 
  color: rgb(153, 153, 173);  
  text-align: left; 
}
.pro-text{
  font-size:13px;  
  color: rgb(68, 68, 73); 
  text-align: left;
  font-weight: 500;
}
.m-t-minus-5{margin-top:-5px;}
.m-t-minus-8{margin-top:-8px;}
.m-t-minus-5{margin-top:-5px;}
.m-t-minus-10{margin-top:-10px;}
.m-t-minus-15{margin-top:-15px;}
.m-t-minus-20{margin-top:-20px;}
.m-t-minus-24{margin-top:-24px;}
.geneder-margin{margin-top: -24px;}
.m-t-2{margin-top:2px;}
.certificate-icon{
  border-radius: 5px;
  background-color: rgb(26, 164, 15);
  color: #fff;  
  width:38px;
  height:38px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 1px;   
}
.certificate-icon-2{ 
  background-color: rgb(177, 122, 199) !important;     
} 
.card-customize { 
    -webkit-box-shadow:0 0px 0px 0 rgba(0, 0, 0, 0.33) !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.33) !important;
}
.pro-label{
  border-radius: 10px;
  background-color: rgb(255, 139, 143);  
  width: 100%;
  height: 47px;
   display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 1px;  
  font-size:16px;
  color:white;
}
.extended{border: 1px solid #8080804d !important;
padding: 0px 10px !important;}
.label-extended{
	top:-24px !important;
    left: 0px;
	font-size:14px !important;
}
.icon-calender{
    float: right;
    margin-top: -28px;
    margin-right: 5px;
    font-size: 20px !important;
    color: gray;
}
.pro-small-text {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.pro-small-text-g {
    font-size: 14px;
    color: gray;
    text-align: left;
}
.hr-profile{margin-top:10px !important;margin-bottom:10px !important;}
.hr-dashboard{margin-top:4px !important;margin-bottom:4px !important;}
.red{
	  
	 background-image: -moz-linear-gradient( 43deg, rgb(240,85,16) 0%, rgb(226,39,107) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(240,85,16) 0%, rgb(226,39,107) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(240,85,16) 0%, rgb(226,39,107) 100%);
  box-shadow: 0px 2px 16px 0px #ef9e9e;
	}
.p-l-0{padding-left:12px;}
.p-l-r-0{padding-left:5px;padding-right:0px;}
.m-r-5{margin-right:5px;}
.m-10{margin:0px 5px;} 
.m-l-25{margin-right: 25px;}
.p-r-icon-2{padding-right:14px !important;}
.p-r-icon-3{padding-right:20px !important;}
.p-r-icon-4{padding-right:20px !important;}
.form-group{padding-top:0px !important;}
.newForm{margin-bottom:10px !important;}
.p-inputtext{padding: 5px 12px;}
.second{ 
  background-color: rgb(17, 144, 232)!important; 
}
.number-of-bathces{
  font-size:25px; 
  color: rgb(240, 85, 16); 
  text-align: center; 
}
.blank-hieght{height:220px;}
.body-blank{
  background-color: rgb(245, 244, 244);
  padding:70px; 
  text-align: center;  
}
.body-blank-large{
  background-color:rgb(245, 244, 244);
  padding:207px 10px; 
  text-align: center;   
}
.blank-icon
{
    font-weight: 700;
    background-color: WHITE;
    box-shadow:0px 2px 16px 0px #ecc1c1;
    color: #fff;
    height: 30px;
    line-height: 1;
    width: 30px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;  
	border: 0;
	margin-left: auto;
    margin-right: auto;
}
.blank-text{
  font-size: 16px; 
  color: rgb(132, 132, 132); 
}
.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color:#dcd5d5;
}

.style-1::-webkit-scrollbar
{
	width: 10px !important;
    height: 10px;
	background-color:#ffffff;
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#ffffff;
}
.fc-view::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color:#dcd5d5;
}

.fc-view::-webkit-scrollbar
{
	width: 10px !important;
    height: 10px;
	background-color:#ffffff;
}

.fc-view::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#ffffff;
}

.fc-center {display: none !important;}
.fc-left {display: none !important;}
/* .fc-week{display: none !important;} */
.fc-minor{display: none !important;}
.m-t-calendar{margin-top: -51px;}
.proImg-tbl{
    width: 30px;
    border-radius: 50%;
    height: 30px;
}
/* button css*/
.span-pointer
{
	display: block;
    height: 23px;
    width: 40px;
    background: #7f7fff;
    color: white;
    border-radius: 3px;
}
.btn {
    
    margin-bottom: 0px !important;
	margin:0px 5px;
	padding: 2.5px 10px !important;
 
}
.btn-large
{
  padding: 5.5px 30px !important;
}
.btn-green { 
  color:white;
 background-color: rgb(60, 184, 120)!important;
  border-color:rgb(60, 184, 120);
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color:white;
  background-color: #74cb9e;
  border-color: #74cb9e;
} 
.btn-red { 
  color:white;
 background-color: #ed1c24!important;
 border-color:#ed1c24;
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color:white;
  background-color: #f15e63;
  border-color: #f15e63;
} 
.btn-yellow { 
  color:white;
 background-color: #fad73f!important;
 border-color:#fad73f;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow.focus,
.btn-yellow:active,
.btn-yellow.active,
.open > .dropdown-toggle.btn-yellow {
  color:white;
  background-color: #f3d556;
  border-color: #f3d556;
  
} 
.td-dashboard{
    font-size: 15px;
    color: rgb(64, 68, 71);
    font-weight: 500;
    letter-spacing: 0.4px;
	padding: 2px 8px !important;
}
 .viewall
 {
	 font-size: 15px;
    color: #1190e8;
    float: right;
    margin-right: 15px;
    font-style: italic;
 }
 .middle-height{height: 230px;}
 .right-height{height:102px;}
 
 .left-bg
 {
	 background-image: url(../../img/left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 230px;
    border-radius: 0px !important;
 }
 .left-img
 {
	  
   width:85px;
    border-radius: 50%;
    height:85px;
    margin-left: 16px;
 
 }
 .left-margin
 {
 
    margin-top:15px;
 }
 .profile-text-l{
  font-size:15px; 
  color: rgb(255, 255, 255);
 margin-left:20px;
}
.profile-text-s{
  font-size:14px; 
  color: rgb(255, 255, 255);
 margin-left:20px;
}
.m-t-25{margin-top:25px;}
.m-t-10{margin-top:10px;}
.m-t-15{margin-top:15px;}
.m-t-20{margin-top:20px;}
.m-t-30{margin-top:30px;}
.m-t-40{margin-top:40px;}
.m-t-50{margin-top:50px;} 
.left-rec{
  background-color: rgb(255, 45, 45);
      display: block;
    width: 105px;
    height: 22px;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 23px;
}
.card-body-padding-cal{padding:0px 12px 0px 12px !important;}
.fc-toolbar {
    text-align: center;
    margin-bottom: 5px !important;
}
.fc-toolbar .fc-right {
    float: right;
    margin-top: 8px !important;
}
	.fc-view, .fc-view>table {
    position: relative;
    z-index: 1;
    height:174px !important;
    bottom: 0;
    overflow-y: auto;
}
.fc-view-container{margin-left:-12px;margin-right:-12px;}
.fc-toolbar button {
    position: relative;
    border: 0;
    background: transparent;
    box-shadow: 0px 0px 0px 0px white;
	color: rgb(17, 144, 232);
	font-size: 16px !important;
	text-transform:capitalize;  
}
 /****** Batch management ******/
 .mybatches{
  font-size:20px; 
  color: rgb(17, 144, 232);  
}
.mybatches-small{ 
      color: #848484;
    margin-top: -5px;
    font-weight: 400; 
}

.add-batch{
  border-radius: 19px;
  font-size: 15px !important;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 19px 0px #c3bdbd;
  display:block;  
  width: 190px;
  height: 38px;
  float:right;
  color: rgb(83, 83, 83) !important;
  padding: 5px !important;
}
.add-batch:hover,
.add-batch:focus,
.add-batch.focus,
.add-batch:active,
.add-batch.active,
.open > .dropdown-toggle.add-batch {
  color:rgb(86,98,255);
  background-color:rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
 
.add-batch .plus-icon{
  border-radius: 50%;
  background-image: -moz-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  box-shadow:0px 1px 10px 0px #91a6ec;
      display: flex !important;
    align-items: center;
    justify-content: center;
  width: 33px;
  height: 33px;
  float:right;
  margin-top:-3px;
  margin-right:-4px;  
}
.hr-mybatches{margin-top:5px !important;margin-bottom:10px !important;}
.m-t{margin-top: 35px;}
.clearAll{
  border-radius: 13px;
  background-color: rgb(240, 85, 16);
    display: flex !important;
    align-items: center;
    justify-content: center;
  width:80px;
  height: 27px;
  color:white; 
}
.felter-heading{
  border-radius: 4px;
  background-color: rgb(98, 167, 255);
  display: flex !important;
  color:white;
  font-size:16px;
  padding:3px 10px;
  justify-content: left;
  width: 100%;
  height: 34px;  
}
.c-gray{ 
  font-size: 20px; 
  color: rgb(180, 180, 180); 
}
.batch-formelement
{
	border: 0;
    background: white !important; 
    border-radius: 5px;
	padding: 5px !important;
}
.p-l-12{padding-left:0px;}
.batch-img-padding{padding:0px !important;}
.batch-img-padding-2px{padding:2px !important;}
.b-img{width:100%;}
.card-body-padding-batch{padding:10px 12px !important;}
.batch-icon{font-size:18px;color:#848484;}
.list-heading{
  font-size: 14px; 
  color: black;
  font-weight:600;
  text-align: left;
margin-left:10px;  
}
.list-text
{
	color:#848484;
	font-size:11px;
	margin-left:15px;
}
.bold{font-size:12px;color:black;font-weight:normal !important;}
.list-icon
{
	display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 14px;
    background: #3cb878;
    border-radius: 25px;
    padding: 0px 2px;
}
.border-img-top
{
    border-radius: 5px !important;
}
.Rectangle_1_copy {
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 30px 0px rgba(157, 162, 167, 0.3);
  position: absolute;
  left: 906px;
  top: 1264px;
  width: 440px;
  height: 510px;
  z-index: 63;
}

.i-l
{
	height: 28px !important;
    width: 28px !important;
	padding:6px 6px !important;
}
.card-shadow
{
  box-shadow: 0px 0px 30px 0px rgba(157, 162, 167, 0.3) !important;
}
.opacity{opacity:1 !important}
.card-on-hover
{ 
    position: absolute !important;
	box-shadow: 0px 0px 20px 0px #b1a5a5 !important;
    top:-100px;
    left:15%;
    width:300px;
    height: auto;
    z-index: 9999;
    box-shadow: 0px 0px 65px 0px #c1bcbc;
	visibility:hidden;
	margin-bottom:10px;
}
.parent:hover a.card-on-hover, .parent:focus a.card-on-hover, .parent:active a.card-on-hover {
  visibility:visible;
}
 .parent:hover>.card-on-hover{
  visibility:visible;
}
.batch-img-padding-hover
{
	    padding: 8px !important;
}
.card-on-hover:before{
    position: absolute;
    display: inline-block;
    content: '';
    top:160px;
    border-right: 12px solid #fffefe;
    border-left: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent; 
    left: -8%;
} 
.batch-blank
{
	height: 170px;
    background: #f4f5f5;
	text-align:center;
}
.batch-blank-icon1
{
  font-size:70px; 
  color: rgb(255, 255, 255); 
}
.batch-blank-icon2
{
	height: 80px;
    width: 80px;
    background: white;
    display: inline-block;
    border-radius: 50%; 
    margin:16px 0px 0px 0px;
    box-shadow: 0px 0px 40px 0px #8080803d;
    padding: 20px 15px;
}	
.btn-batch-edit
{
	float: right;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px #ff00008c;
}
.manage-request-accordian
{
	padding: 0 !important;
    margin: 0 !important;
    box-shadow: unset !important;
}
/*manage-request-accordian(=m-r-a)*/
.m-r-a-head
{
	padding: 0px 12px !important;
	border-bottom: 1px solid rgba(150, 156, 156, 0.14)  !important;
}
.m-r-c-p-group{margin-bottom:0px !important;}
.m-r-a-pro{padding: 0px 0px !important;}
.m-r-a-body
{
	padding:0px 24px !important;
	background: #f8f8f9;
}
.m-r-a-header-text
{
	color: #404447;
    font-size: 14px;
	font-weight: 500;
}
.row-width{width:100%;margin-bottom: -15px;}
.tool-btn{color:black !important;}
.m-r-a-tools
{
    padding-right: 0px !important;
    float: right;
    margin-right: -10px !important;
    margin-top:30px !important;
}
.m-r-a-btn
{
	border-radius: 5px;
    border-color: #a8b4ec;
    border-width: 1px;
}
.m-r-c-border{border:1px solid #ada4a4ad;}
.btn-icon-toggle{height:36px;}
 
.timeline-padding{padding:5px 5px !important}
.timeline-card
{
	box-shadow: unset !important;
    border: 2px solid #80808030 !important;
}
.with-t-img
{
	width: 80px;
    height: 80px;
	border-radius: 5px;
    border: 1px solid #8080800f;
}
.width-t-img-small
{
	float: right;
    width: 30px;
    height: 30px;
	margin: 0px 5px;
}
	
.reject{color:#ed1c24;font-size: 15px;    margin: 0; margin-top: 5px;}
.accept{color:#3cb878;font-size: 15px;    margin: 0; margin-top: 5px;}
.suggest{color:#4c84ff;font-size: 15px;    margin: 0; margin-top: 5px;}
.select-n-pay{
    display: inline-block;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
    border-color: rgb(206, 255, 141); 
    background-color: rgb(238, 255, 214);
    width: 195px;
    height: 30px;
	text-align: center;
    font-weight: 500;	
       
}
.select-n-pay:hover,
.select-n-pay:focus,
.select-n-pay.focus,
.select-n-pay:active,
.select-n-pay.active,
.open > .dropdown-toggle.select-n-pay{ border-color: rgb(206, 255, 141) !important; 
    background-color: rgb(238, 255, 214) !important;
	color:black !important;
	}
.select-n-pay-dropi
{
	left: 6px;
	width: 193px;
	margin-top: -4px !important;
	border-width: 1px;
    border-color: rgb(206, 255, 141) !important;
    border-style: solid;
    background-color: rgb(238, 255, 214);
}
.btn-pay{
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 45px;
  height: 26px;
     float: right;
    margin-top: 6px;  
}
.hvr:hover{background:#fff987;}
.select-n-pay-header{width: 160px;border-bottom: 1px solid rgb(206, 255, 141);}
.anchor{padding: 5px 10px !important;}
.t-name
{
	margin: 0px 6px; 
    color: #aba1a1;
	font-weight: 400;
    font-size: 13px;
}
/***** Reviews and rating *****/
.rating-pic-small
{
	width:50px;
	height:50px;
}
.rating-text-normal
{
	font-size:15px;
    font-weight:500;
}
.rating-text
{
	font-size:13px;
    color:gray;
}
.card-body-padding-rating{padding:15px 20px !important;}
.ratingHr
{
	margin-top: 12px;
    margin-bottom: 8px;
    margin-left: -12px;
    margin-right: -12px;
}
.margin-rating-bar{margin-top:105px;}
.rating-top{top: 44% !important;}
.rating-row-customize{width: 6%;
    padding-right: 0px;}
	
/************* student profile css ******************/
/*s= is used for Student*/
.card-body-padding-student{padding:10px 10px !important;}
.s-profile-header
{
	color: #8995a5 !important;
    font-size: 16px !important;
}
.s-profile-header-skyblue
{
	color: #007aff !important;
    font-size: 16px !important;
}
.s-profile-img-left{height:325px;}
.s-profile-content
{
	padding: 70px 0px;
}
.s-profile-left-img
{
	height:195px;
	width: 100%;
}
.s-height{height:325px;}
.s-profile-pic-card{
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(229, 233, 242); 
  box-shadow: 0px 0px 40px 0px rgba(182, 203, 255, 0.3);
  display:inline-block; 
  width: 110px;
    height: 110px;
  
}
.s-profile-center{text-align:center}
.s-profile-card-shadow{box-shadow:unset !important;}
.s-profile-name
{ 
  font-size: 20px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  font-weight: 600;    
}
.s-profile-name-small
{ 
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  font-weight: 600;    
}
.s-profile-specialization
{ 
  font-size:15px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  font-weight: 600;    
}
.s-profile-contact
{ 
  font-size:13px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);     
}
.s-profile-other
{
  font-size:13px;
  font-family: "Open Sans";
  color: rgb(0, 0, 0);
  font-weight: 600; 	
}
.s-profile-text-gray{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(153, 153, 173); 
  text-align: left; 
}
.s-black{color:black;}
.s-bold{font-weight:600;}
.s-profile-padding-r-0{padding-right:1px;}
.s-profile-padding-l-0{padding-left:0px;}
.s-profile-cover-img
{ 
    height: 100%;
    width: 100%;
     
}
.s-profile-edite-m
{
	margin-right: -18px;
    margin-top: -4px;
}
.s-profile-hr
{
	margin-top: 12px !important; 
    margin-left: -10px !important;
    margin-right: -10px !important;
}
.s-icon-section
{
	width: 72px;
    height: 72px;
    background: white;
    border: 1px solid #8080805e;
    border-radius: 10px;
}
.s-p-2{padding:2px;}
.s-icon
{
	width: 100%;
    border-radius: 5px;
    height: 100%;
}
.s-profile-text{
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(68, 68, 73);
  font-weight: 600;   
}
.s-font{font-family:"Open Sans";}
.s-gray
{
	color:#9999ad;
}
.s-viewmore{background:#f05510}
.s-v-more-icon
{
	display: inline-block;
    height: 16px;
    width: 16px;
    line-height: 17px !important;
    background: #c7460d;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
}
.s-profile-icon-header
{
	width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}
.s-profile-icon-img
{
	width:100%;
	height:100%;
}
.edu{width:35px !important;height:35px !important;}
.profession {
    width: 23px !important;
    height: 26px !important;
    margin-left: 16px;
    margin-right: 4px;
}
.certi {
    width: 22px !important;
    height: 29px !important;
    margin-left: 17px;
    margin-right: 4px;
}
.con
{
	width: 35px !important;
    height: 20px !important;
}
.s-icon-school{
    width: 30px;
    height: 30px;
    background: #c1b7b738;
    border: 1px solid #80808000;
    border-radius: 50%;
    text-align: center; 
}
.s-icon-padding
{
	 padding: 2px 0px !important;
}
.s-icon-school-img {
    width: 20px; 
    height: 20px;
}
.s-profile-data-padding{padding-left: 3px;}
.txt-black{color:black !important;}
.txt-bold{font-weight:600;}
.s-profile-text-color{color:#9999ad !important;}
.s-edit-ico-r{right:8px !important;}
 
/* .r_rating{width: 50%;} */
.rating-height{height: 480px;}
.institute-rating{width:auto !important;}
 
/*** Tution As a service css ***/
.g-mapcard-black
{
	width: 240px !important;
}
.gm-style-iw
{
	left:16px !important;
	/* width:294px !important; */
}
.g-mapcard-left-img
{
	height:165px;
	width: 100%;
}
.g-mapcard-name-small {
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.g-mapcard-text-gray {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(153, 153, 173);
    text-align: left;
}
.g-mapcard-black{color:black;}
.g-mapcard-bold{font-weight:600;}
.dropi-menu{
    margin-left: -95px !important;
    border-radius: 2px !important;
    margin-top: 10px !important;
    box-shadow: 0px 0px 10px 3px #dccccc !important;
}
.dropi-menu:before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -17px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #fff;
    right: 25px;
    margin-right: -2px;
    right: 8%;
}
 
 @media screen and (max-width: 767px){
	 .top-header-author {
    position: absolute;
    left: 40% !important;
    text-align: left !important;
    color: white !important;
    top:30% !important;
}
.pro-left-padding-right{padding-right:12px !important;}
.pro-right-padding-left{padding-left:12px !important;}
.s-profile-padding-r-0{padding-right:12px;}
.s-profile-padding-l-0{padding-left:12px;margin-bottom: 14px;}
.margin-rating-bar{margin-top:15px;}
.rating-row-customize{width:unset;
    padding-right:unset;}
.s-profile-text {
    font-size: 12px;      
}
..pro-small-text-g {
    font-size: 12px; 
}
.s-icon-section {
    width: 60px;
    height: 60px; 
}
.s-profile-name
{ 
  font-size: 18px;     
}
.s-profile-name-small
{ 
  font-size: 15px;   
}
.s-profile-specialization
{ 
  font-size:13px;   
}
.s-profile-contact
{ 
  font-size:12px;    
}
.s-profile-other
{
  font-size:12px; 	
}
.dropi-menu {
    margin-left: 5px !important; 
}
.dropi-menu:before { 
    right:64%;
}	
}
/*media 767 End Here ****/
/*media for ipad only****/
@media only screen and (min-device-width:768px) and (max-device-width:1023px) { 
	.batch-blank-icon1
{
  font-size:50px; 
  color: rgb(255, 255, 255); 
}
	.batch-blank {
    height: 140px;
    background: #f4f5f5;
    text-align: center;
}
.top-header-author {
    position: absolute;
    left: 38% !important;
    text-align: left !important;
    color: white !important;
    top: 30% !important;
}
.body-b .onmobile{padding: 55px !important;}
.rating-row-customize{width:unset;
    padding-right:unset;}
 
.s-profile-padding-r-0{padding-right:12px;}
.s-profile-padding-l-0{padding-left:12px;margin-bottom: 14px;}
.s-profile-content {
    padding: 0px 0px;
}
.s-height {
    height: 180px;
}
.s-profile-content {
    padding: 0px 0px;
}
.dropi-menu {
    margin-left:-80px !important; 
}
.dropi-menu:before { 
    right:15%;
}
}
/*media for ipad Pro only****/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
	.batch-blank-icon1
{
  font-size:50px; 
  color: rgb(255, 255, 255); 
}
	.batch-blank {
    height: 120px;
    background: #f4f5f5;
    text-align: center;
}
.body-blank {
    background-color: rgb(245, 244, 244);
    padding: 70px 10px;
    text-align: center;
}
 .rating-row-customize{width:unset;
    padding-right:unset;}
.s-profile-padding-l-0 {
    padding-left: 12px;
    margin-bottom: 22px;
}
.s-profile-padding-r-0 {
    padding-right: 12px;
}	
}
/**** Rating bars css*/
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
	font-weight: 600;
	margin-bottom: 10px;
}

.middle {
    margin-top:18px;
    float: left;
    width: 70%;
	margin-bottom: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
 
/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
} 
/* Individual bars */
.bar {height: 8px; background-color: #ffb400;} 
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}