.profileImg-r
{
  height:320px; 
}
.profileImg-r-black-img
{
  height:230px; 
}
.profileImg-r-blank {
    height: 262px;
    padding: 15px;
}
.blank-section
{
	padding:25px 65px;
    background-color: rgb(245, 244, 244);
}
.capcture{
  border-width: 0.597px;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-radius: 2px;
  background-color: rgb(255, 255, 255); 
  display:block;
  width: 30px;
  height: 30px; 
  position: absolute;
  margin-top: -18px;
  margin-left: 55px;
  padding: 3px 8px;
}
.capcture-b{
  border-width: 0.597px;
  border-color: rgb(215, 215, 215);
  border-style: solid;
  border-radius: 2px;
  background-color: rgb(255, 255, 255); 
  display:block;
  width: 30px;
  height: 30px;  
  padding: 3px 8px;
}
.change_photo{
  font-size:16px; 
  color: rgb(77, 77, 77); 
  text-align: left;
  margin-top: 18px;
  margin-left: 20px;  
}

.pro-left-padding-right{padding-right:0 !important;}
.pro-right-padding-left{padding-left:0 !important;}
.top-header-author {
    position: absolute;
    left: 20% !important;
    text-align: left !important;
    color: white;
    top: 25%;
}
.profilr-text-large
{
	font-size:20px;
}
.profilr-text-small
{
	font-size:16px;
}
.profilr-text-v-small
{
	font-size:15px;
}
.m-left-15{margin-left:15px;}
.m-left-20{margin-left:20px;}
.m-left-25{margin-left:25px;}
.m-left-30{margin-left:30px;}
.social-icon-section {
    display: inline-flex;
	margin-top:9px;
}
.social-icon { 
	padding: 4px 0px !important;
}
.card-head-pro
{ 
    padding:0px 0px !important; 
    font-size: 19px !important;
	color:rgb(17, 144, 232) !important;
} 

.card-head-customize{ 
    padding: 11px 12px !important; 
}
.card-body-padding-pro{padding:10px 12px !important;}
.Ellipse_2_copy_24 {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
  box-shadow: 0px 2px 16px 0px rgba(159, 193, 255, 0.004);
  position: absolute;
  left: 808px;
  top: 784px;
  width: 30px;
  height: 30px;
  z-index: 77;
}

.tool-edit
{
	font-size: 0.875rem;
    font-weight: 700;
     background-image: -moz-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   background-image: -webkit-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   background-image: -ms-linear-gradient( 43deg, rgb(90,210,242) 0%, rgb(86,98,255) 100%);
   box-shadow: 0px 2px 16px 0px rgba(73, 86, 239, 0.25);
    color: #fff;
    height: 24px;
    line-height: 1;
    min-width: 24px;
    border-radius: 84%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
	margin:0px 2px;
	position: absolute;
    right: 12px;
    top: 0px;
	cursor:pointer;
	border: 0;
	visibility:hidden;
} 
.tool-plus {
	font-size: 0.875rem;
    font-weight: 700;
   background-color: rgb(240, 85, 16);
   box-shadow: 0px 2px 16px 0px #f97575;
    color: #fff;
    height: 24px;
    line-height: 1;
    min-width: 24px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
	margin:0px 2px;
	float:right;
	cursor:pointer;
	border: 0;
} 
.onhover:hover button.tool-edit, .onhover:focus button.tool-edit, .onhover:active button.tool-edit {
  visibility:visible;
}
 
.tool-plus-m-r{margin-right: -4px;}
.icon {color:white;font-size:12px !important;}
.icon-r {color:#f05510;font-size:12px !important;}
.pro-heading{
  font-size: 14px; 
  color: rgb(153, 153, 173);  
  text-align: left; 
}
.pro-text{
  font-size:14px;  
  color: rgb(68, 68, 73); 
  text-align: left; 
}
.m-t-2{margin-top:2px;}
.certificate-icon{
  border-radius: 5px;
  background-color: rgb(26, 164, 15);
  color: #fff;  
  width:38px;
  height:38px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 1px;   
}
.certificate-icon-2{ 
  background-color: rgb(177, 122, 199) !important;     
} 
.card-customize { 
    -webkit-box-shadow:0 0px 0px 0 rgba(0, 0, 0, 0.33) !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.33) !important;
}
.pro-label{
  border-radius: 10px;
  background-color: rgb(255, 139, 143);  
  width: 100%;
  height: 47px;
   display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 1px;  
  font-size:16px;
  color:white;
}
.extended{border: 1px solid #8080804d !important;
padding: 0px 10px !important;}
.label-extended{
	top: -5px !important;
    left: 0px;
	font-size:14px !important;
}
.icon-calender{
    float: right;
    margin-top: -28px;
    margin-right: 5px;
    font-size: 20px !important;
    color: gray;
}
.pro-small-text {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: left;
}
.pro-small-text-g {
    font-size: 14px;
    color: gray;
    text-align: left;
}
.hr-profile{margin-top:10px !important;margin-bottom:10px !important;}
.red{
	  
	 background-image: -moz-linear-gradient( 43deg, rgb(240,85,16) 0%, rgb(226,39,107) 100%);
  background-image: -webkit-linear-gradient( 43deg, rgb(240,85,16) 0%, rgb(226,39,107) 100%);
  background-image: -ms-linear-gradient( 43deg, rgb(240,85,16) 0%, rgb(226,39,107) 100%);
  box-shadow: 0px 2px 16px 0px #ef9e9e;
	}
.p-l-0{padding-left:12px;}
.p-l-r-0{padding-left:5px;padding-right:0px;}
.m-r-5{margin-right:5px;}
.m-10{margin:0px 5px;} 
.m-l-25{margin-right: 25px;}
.p-r-icon-2{padding-right:14px !important;}
.p-r-icon-3{padding-right:20px !important;}
.p-r-icon-4{padding-right:20px !important;}
.form-group{padding-top:0px !important;}
.p-inputtext{padding: 5px 12px;}
.second{ 
  background-color: rgb(17, 144, 232)!important; 
}
.number-of-bathces{
  font-size:40px; 
  color: rgb(240, 85, 16); 
  text-align: center; 
}
.blank-hieght{height:220px;}
.body-blank{
  background-color: rgb(245, 244, 244);
  padding:70px; 
  text-align: center;  
}
.blank-icon
{
    font-weight: 700;
    background-color: WHITE;
    box-shadow:0px 2px 16px 0px #ecc1c1;
    color: #fff;
    height: 30px;
    line-height: 1;
    width: 30px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;  
	border: 0;
	margin-left: auto;
    margin-right: auto;
}
.blank-text{
  font-size: 16px; 
  color: rgb(132, 132, 132); 
}

 @media screen and (max-width: 767px) { 
}
/*media 767 End Here ****/
/*media for ipad only****/
@media only screen and (min-device-width:768px) and (max-device-width:1023px) { 
}
/*media for ipad Pro only****/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
 	
}
 
